---
BasedOnStyle: LLVM
ColumnLimit: 180
BinPackArguments: true
BinPackParameters: true
AllowAllArgumentsOnNextLine: true
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
AllowAllParametersOfDeclarationOnNextLine: false
PointerAlignment: Left
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: Consecutive
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true