---
BasedOnStyle: LLVM
ColumnLimit: 180
BinPackArguments: true
BinPackParameters: true
AllowAllArgumentsOnNextLine: true
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
AllowAllParametersOfDeclarationOnNextLine: false
PointerAlignment: Left
